
<div class="todo-list-single">
  <h3><span class="todo-list-icon glyphicon glyphicon-list"></span> {{model.name}}</h3>
  <p>{{model.description}}</p>
  <ul class="todoitems-list">
    {{#each model.todoItems as |todoItem|}}
      {{todo-item-item todo-item=todoItem}}
    {{else}}
      <li class="empty-list">The list is empty, try and add a new Todo !</li>
    {{/each}}
  </ul>
  {{outlet}}
</div>

{{todo-item-input action="createTodoItem" todoListId=model.id}}

<div class="nav-button">
  <button class="btn btn-default" {{action "goBack"}}><span class="glyphicon glyphicon-arrow-left"></span></button>
</div>
